@import "~flat-ui-colors-sass";

.upload-options {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upload-url {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid $flat-pumpkin;
  width: 100%;
}

.upload-button {
  padding: 10px 20px;
  text-align: center;
  background: $flat-blue-2;
  color: $flat-gray-1;
  box-shadow: none;
  border: 1px solid $flat-blue-3;

  &:hover {
    background: $flat-blue-1;
  }
}

.upload-qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.upload-qr-code {
  overflow: hidden;
  border-radius: 10px 10px 20px 20px;
}

.upload-url, .upload-button  {
  border-radius: 10px;
  outline: none;
}


